-- Create RPC function for updating product stock
CREATE OR REPLACE FUNCTION update_product_stock_admin(
  product_id UUID,
  new_stock INTEGER
)
RETURNS VOID
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  -- Check if the user has admin privileges (you can customize this check)
  -- For now, we'll allow any authenticated user to call this function
  
  -- Update the product stock
  UPDATE products 
  SET 
    stok = new_stock,
    updated_at = NOW()
  WHERE id = product_id;
  
  -- Check if the update was successful
  IF NOT FOUND THEN
    RAISE EXCEPTION 'Product with ID % not found', product_id;
  END IF;
END;
$$;
